

.main-container{
    width: 1170px;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", "HelveticaNeue-Light", sans-serif;
}
h2{
    margin-bottom: 15px;
    font-size: 20px;
}

.chennel{
    width: 220px;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    
}
.chennel:hover{
    transform: scale(1.6);
    transition: 0.3s ease-in;
}




@media (max-width: 769px) {
    .main-container {
        padding: 0 10px;
        
    }
    .chennel {
        width: 150px;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        z-index: 1;
    }
    .chennel:hover{
        transform: scale(1.13);
      transition: 0.3s ease-in;
    }
    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap !important;
        margin-top: 10px;
        overflow: scroll;
    }
}